@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Scheherazade+New&display=swap");

.HomePage_Container {
  
  height: 100%;
  width: 100vmax;
  background: rgb(82,44,38);
background: linear-gradient(284deg, rgba(82,44,38,1) 0%, rgba(33,33,33,1) 63%);
}

.HomePage_Row__Image {
  padding-top: 117px;
}

/* - -----------TEXTOS- -----------  */
/* - -----------TEXTOS- -----------  */
/* - -----------TEXTOS- -----------  */

.HomePage_Row__Text {
  color: white;
  font-size: 52px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.HomePage_Row__Text h5 {
  padding: 10px;
}

.HomePage_Row__Text h5 {
  color: #9ca3af;
  margin-top: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.HomePage_Row__Text h2 {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 52px;
}

.HomePage_Row__Text p {
  padding: 10px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/*-----------DROPDOWNS- -----------*/
/*-----------DROPDOWNS- -----------*/
/*-----------DROPDOWNS- -----------*/

.dropdown button {
   
  background-color: white;
  color: #6b7280;
  border: 1px solid #9ca3af;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;

  /* Drop shadow/XSmall */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 6px;
  height: 50px;
}

.Dropdown_Search{
    width: 375px;
}

.dropdown button:hover {
  background-color: white;
  color: #6b7280;
}
.dropdown button:active {
  background-color: white;
  color: #6b7280;
}

.HomePage_Dropdown_Network {
  width: 120px;
}

.HomePage_Button_Read {
  box-sizing: border-box;
  width: 110px;
  border-radius: 6px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #e9cb88;
  color: black;
}

.HomePage_Button_Read:hover {
  box-sizing: border-box;
  border-radius: 6px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #e2ca97;
  color: black;
}

.HomePage_Row__Dropdown p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #d1d5db;
  font-size: 14px;
}

.HomePage_Row__Dropdown img {
  width: 30px;
  margin-left: 20px;
  margin-right: 10px;
}

.HomePage_Row__Dropdown p b {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: black;
  font-size: 14px;
  margin-right: 5px;
}

/* -----STATISTICS---- */
/* -----STATISTICS---- */
/* -----STATISTICS---- */

.HomePage_Container_Statistics {
  display: flex;
  justify-content: space-around;
  color: white;
}

.ContainerInfo {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin-top: 57px;
  width: 448px;
  height: 170px;
  border: 1px solid #ffffff46;
  box-sizing: border-box;
  border-radius: 16px;
}

.Statistics_Title {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  align-items: center;
}

.Statistics_Title h4 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-feature-settings: 'salt' on;
 
}

.Statistics_Info h2 {
    display: flex;
  margin: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 44px;
}

.Statistics_Info h3 {
    opacity: 0.5;

}

.Statistics_Text{
  font-family: "Inter", sans-serif;
  font-weight: 600;
    display: flex;
    margin: 15px;
    opacity: 0.5;
}

#TextInfo{
    padding-top: 20px;
    color: white;
    opacity: 0.5;
}


/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .HomePage_Container {
    padding-top: 30%;
    height: 100%;
    width: 100vmax;
    background: rgb(82,44,38);
  background: linear-gradient(284deg, rgba(82,44,38,1) 0%, rgba(33,33,33,1) 63%);
  }
  
  .HomePage_Row__Image {
    padding-top: 117px;
  }
  
}

/* // Small devices (landscape phones, less than 768px) */
/* @media (max-width: 767.98px) {

}

@media (min-width: 992px) {.Navbar.false {
 
} */