@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.me-auto.navbar-nav {
  align-content: center;
  align-items: center;
  justify-content: center;
}

.navbar {
  top: -10px;
}

.Navbar {
  top: -10px;
  width: 100%;
  font-size: 1.2rem;
  transition: 0.5s;
  height: 100px;
}

.Navbar.false {
  top: -10px;
  height: 90px;
  background-color: rgba(33, 33, 33, 0.075);
}
.Navbar.active {
  top: -10px;
  height: 90px;
  background-color: rgb(33, 33, 33);
}

.NavBar_Logo {
  padding-top: 20px;
  margin-left: 150px;
}
.NavBar_Logo h2 {
  margin-top: 10px;
  margin-left: 30px;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000,
    1px -1px 1px #000;
}

.NavBar_Logo img {
  margin-right: 20px;
  float: left;
}

.NavBar_Links {
  margin-right: 150px;
  font-family: "Inter", sans-serif;
}

.NavBar_SignUp {
  color: black !important;
  background-color: #e9cb88;
  width: 124px;
  height: 38px;
  left: 1097px;
  border-radius: 6px;
}

.NavBar_Links a {
  margin-right: 40px;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.navbar-nav {
  color: white;
}

/* SEARCHBAR NAVBAR */ /* SEARCHBAR NAVBAR */ /* SEARCHBAR NAVBAR */

.form {
  position: relative;
}
.form input {
  color: white;
  position: relative;
  background-color: transparent;
  opacity: 0.5;
  border-radius: 8px;
  height: 100%;
  width: 90%;
  padding: 8px;
}
.form input::placeholder {
  font-family: "Inter", sans-serif !important;
  font-weight: 500 !important;
  color: white;
}

.form .fa-search {
  position: absolute;
  top: 5px;
  left: 10px;
  color: #9ca3af;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  height: 35px;
  text-indent: 23px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
  border: 1px solid black;
  background-color: transparent;
  color: white;
  opacity: 0.5;
}

/* -----MODAL----- */
/* -----MODAL----- */
/* -----MODAL----- */

.modal-header {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  flex-direction: column;
}

.modal-header h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700 !important;
  font-size: 40px !important;
}

.modal-content {
  width: 70%;
  height: 90%;
  padding: 3%;
  top: 0px;
  left: 15%;

  background: rgb(33, 33, 33);
  background: linear-gradient(
    201deg,
    rgba(33, 33, 33, 1) 43%,
    rgba(87, 35, 35, 0.9654236694677871) 100%
  );
  backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 56px;
}

.modal-content form {
  width: 100%;
  padding: 10px;
}
.modal-content label {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400 !important;
}

.modal-content p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;

  color: #9ca3af;
}

.modal-content h2 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: white;
}

.modal-content form::placeholder {
  color: rgba(209, 213, 219, 1);
}

.modal-content button {
  width: 50%;
}

.modal-body #ButtonRegister {
  width: 100%;
  background: #9ca3af;
  border-radius: 6px;
  color: rgba(107, 114, 128, 1);
  font-weight: 500;
font-size: 14px;
line-height: 20px;
}
.CentradoBotonCerrar {
  background: transparent;
  color: black;
  border: none;
  width: 100%;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  outline: none;
}

#ButtonClose {
  width: 50px;
  background-color: transparent;
  border: none;
  outline: none;
}
#ButtonClose:focus {
  width: 50px;
  background-color: transparent;
  border: none;
  outline: none;
}

.modal-body #ButtonClose:hover {
  background: #9ca3af;
}

/* MODAL FOOTER */
/* MODAL FOOTER */
/* MODAL FOOTER */

.modal-footer {
  width: 100%;
  margin-top: 20px;
}

.NavBar_Container_Modal_Footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.NavBar_Container_Modal_Footer h5 {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
  color: #9ca3af;
  font-family: "Inter", sans-serif !important;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.NavBar_Container_Modal_Footer p {
  margin-top: 10px;
  font-family: "Inter", sans-serif !important;
  font-weight: 500;
  font-size: 14px;
  color: #9ca3af;
}
.NavBar_Container_Modal_Footer p b {
  color: #e9cb88;
}
.NavBar_Modal_Buttons {
  font-family: "Inter", sans-serif !important;
  font-weight: 400;
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: center;
}
.NavBar_Modal_Buttons button {
  font-family: "Inter", sans-serif !important;
  padding: 12px 24px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 6px;
  font-weight: 500 !important;
  background-color: white;
  color: #000;
  margin: 5px;
  outline: none;
}
.NavBar_Modal_Buttons svg {
  margin-right: 10px;
  margin-top: -4px;
  top: -5px;
}
.NavBar_Modal_Buttons button:hover {
  background-color: white !important;
  color: black;
  margin: 5px;
  outline: none;
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .Navbar.false {
    top: -10px;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.075);
    padding-bottom: 30px;
  }
  .Navbar.active {
    top: -10px;
    height: 100%;
    background-color: rgb(33, 33, 33);
  }
  .NavBar_Links a {
    color: white;
    font-style: normal;
    font-weight: 200;
    font-size: 1rem;
    line-height: 20px;
  }
  .NavBar_SignUp {
    background-color: #e9cb88;
    width: 50%;
    height: 38px;

    border-radius: 6px;
  }
  .NavBar_Logo {
    margin-left: 0px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }

  .NavBar_Links {
    margin-right: 0px;
    font-family: "Inter", sans-serif;
  }
}

/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .Navbar.false {
    top: -10px;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.075);
    padding-bottom: 30px;
  }
  .Navbar.active {
    top: -10px;
    height: 100%;
    background-color: rgb(33, 33, 33);
  }
  .NavBar_Links a {
    color: white;
    font-style: normal;
    font-weight: 200;
    font-size: 1rem;
    line-height: 20px;
  }
  .NavBar_SignUp {
    background-color: #e9cb88;
    width: 50%;
    height: 38px;

    border-radius: 6px;
  }
  .NavBar_Logo {
    margin-left: 0px;
  }

  .NavBar_Links {
    margin-right: 0px;
    font-family: "Inter", sans-serif;
  }
}
